<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EntityPath" value="Entities\" />
    <add key="DalPath" value="DataAccess\" />
    <add key="ServicePath" value="Services\" />
    <add key="ValidatorPath" value="EntitiesValidations\" />
    <add key="ControllerPath" value="Api\Controllers\" />
    <add key="AngularEntitiyPath" value="Web\src\app\classes\" />
    <add key="AngularServicePath" value="Web\src\app\services\" />
    <add key="AngularComponentPath" value="Web\src\app\studio-module\" />
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="DATA SOURCE=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=shdb01)(PORT = 1521)))(CONNECT_DATA = (SID = bprod)(SERVER = DEDICATED)));User Id=btree;Password=btree;"/>
  </connectionStrings>
</configuration> 
